input[type="button"] {
    background-color: #fff;
    border: 1px solid #000;
    border-right: 2px solid;
    border-bottom: 2px solid;
    padding: 2px 12px;
    min-width: 120px;
}

.head-title {
    font-family: monospace;
    font-size: 64px;
    letter-spacing: 20px;
    margin-bottom: 40px;
}

.form-container {
    width: 800px;
    padding: 12px 16px;
    border: solid 1px #dddddd;
    margin-bottom: 40px;
}

.two-columns-row {
    width: 100%;
}

.two-columns-row .two-columns-cell {
    display: inline-block;
    width: 45%;
    height: 100%;
    vertical-align: top;
}

.two-columns-row .two-columns-cell.left {
    margin-right: 24px;
    text-align: right;
}

.two-columns-row .two-columns-cell input{
    border: solid 1px #cccccc;
}

.two-columns-row .two-columns-cell ul {
    margin: 2px;
    padding: 0 0 0 12px;
}

.full-row {}

.full-row.right {
    text-align: right;
}

.vci_container {
    width: 800px;
    height: 400px;
    margin-top: 40px;
}

.vci_container .vci {
    width: 100%;
    height: 100%;
}

.vci_container .vci .vci-input,
.vci_container .vci .vci-helper {
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    font-family: Cascadia Code, monospace;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 16px;
}

.vci_container .vci .vci-input {
    width: 80%;
}

.vci_container .vci .vci-helper {
    width: 15%;
    cursor: default;
}

.code {
    font-family: Cascadia Code, monospace;
}

.vci-code-example {
    padding: 2px 6px;
    background-color: #000000;
    color: #ffffff;
    font-family: Cascadia Code, monospace;
    font-size: 14px;
}

.post-its-container{
    width: 800px;
    height: 200px;
    margin-top: 30px;
}

.post-it{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px 10px;
    padding: 6px 4px;
    overflow: hidden;
    line-height: 14px;
    letter-spacing: 0.2px;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
}

.current-rating {
    height: 30px;
    margin-top: 36px;
    vertical-align: sub;
}

.current-rating span {
    vertical-align: inherit;
}

.current-rating .value {
    font-size: 16px;
    font-weight: bold;
}

/*.post-it .header {*/
/*    width: 100%;*/
/*    text-align: right;*/
/*}*/

/*.post-it .text {*/
/*    width: 100%;*/
/*}*/

.results-table {
    width: 800px;
    display: table;
}

.results-table .row {
    display: table-row;
}

.results-table .row .cell {
    width: 50%;
    display: table-cell;
}

.results-table .row .cell.header {
    text-align: center;
    display: table-cell;
}

.results-table .row .cell.bordered {
    border-left: 1px solid #dddddd;
}

.copy-link {
    font-size: smaller;
    cursor: pointer;
}

.template {
    display: none;
}

.hidden {
    display: none;
}
